* { 
    box-sizing: border-box; 
  }

html {
    margin: 0;
    background-size: cover;
    background: url("./images/2aa.JPG") no-repeat center center fixed;
    transition: 3s;
    background-color: black;
    background-blend-mode: darken;
}

body{
    margin: 0 auto;
}

.home-page-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.home-page-body {
    font-family: 'Roboto Mono', monospace;
    color: #f3f7fb;
    padding: 1.25rem;
}

a {
    text-decoration: none;
    color: white;
}

h1{
    font-family: Arial,sans-serif;
    font-size: 2.1875rem;
    font-weight: bold;
    line-height: 0.95;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
}


.footer-home-page { 
    line-height: 1.6; 
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 0 24px;
    flex: 1 0 24px;
    -webkit-align-items: center;
    align-items: center;
    padding: 12px 0;
    left: 1.1em;
    position: absolute;
}

.footer-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 12px 0;
    font-size: 12px;
}

.footer-nav-item {
    padding: 0 4px;
}

.footer-nav-item a {
    text-decoration: none;
    color: #f3f7fb;
}

a:hover {
    color: #d8b9aa;
}

.footer-copyright {
    color: #d8b9aa;
    padding: 4px 0;
    font-size: 10px;
}

div{
    display: block;
}

body{
    position: relative;
}
